/*======================================================================
// Default styling.
======================================================================*/
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, rgb(47, 73, 58), rgb(164, 255, 202));
  font-family: sans-serif;
}

p, h3, .form-control, .btn {
  font-family: sans-serif;
}

::selection {
  background-color: #75CDDD;
  color: #fff;
}

::-moz-selection {
  background-color: #75CDDD;
  color: #fff;
}

/*======================================================================
// Header styling.
======================================================================*/
.header h1 {
  display: block;
  text-align: center;
  color: black;
  background: linear-gradient(to right, rgb(47, 73, 58), rgb(164, 255, 202));
  font-size: 3em;
}

/*======================================================================
// Main body styling.
======================================================================*/
.main-body {
  height: 600px;
  background-color: 9CC9A8;
}

/*======================================================================
// Main button styling.
======================================================================*/
.btn {
  display: block;
  height: 100px;
  width: 240px;
  outline: none;
  background-color: #507B91;
  color: white;
  font-size: 26px;
  border: 1px solid black;
  padding: 0px;
  margin: 40px auto 0px auto;
  left: 0px;
  right: 0px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover {
  background-color: #75CDDD;
}

/*======================================================================
// Image styling.
======================================================================*/
.main-confirm img {
  display: block;
  object-fit: cover;
  height: 360px;
  width: 480px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}

.main-results img {
  display: block;
  object-fit: cover;
  height: 360px;
  width: 480px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}

/*======================================================================
// Footer styling.
======================================================================*/
.footer {
  position: relative;
  padding: 60px 0px 60px 0px;
  height: 200px;
  background-color: black;
}

.footer img {
  display: block;
}

.footer img:hover {
  border: 2px solid white;
}

.footer p {
  position: relative;
  font-size: 150%;
  line-height: 140px;
  text-align: center;
  color: white;
}

/*======================================================================
// Loading circle styling.
======================================================================*/
.loader {
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
  border: 3px solid #ddd;
  border-radius: 50%;
  height: 600px;
  width: 100px;
  margin: 280px auto 280px auto;
  background: linear-gradient(to right, rgb(47, 73, 58), rgb(164, 255, 202));
}

@-webkit-keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: #ec407a;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
